table {
    background-color: rgb(199, 160, 223);
    width: 100%;
    text-align: center;
}

body {
    background-color: #c573bd9c;
}

.first {
    color: rgb(140, 0, 255);
}

main {
    color: rgb(165, 11, 170);
}

table,
th
 {
    border: 1px solid;
}

td {
    padding: 5px;
    border: 1px solid;
}

tr:hover {
    background-color: coral;
}

img {
    border: 1px solid rgb(76, 5, 5);
    border-radius: 4px;
    padding: 5px;
    width: 365px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#center {
    text-align: center;
}


